<form id="login" class='col s12' action='/login' method="POST">
    <h2 class='loginheader center'>Log In</h2>
    <div class="login">
        <label>
            <b>Email</b>
        </label>
        <input type="email" placeholder="Enter Email" name="email" required>
        <label>
            <b>Password</b>
        </label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <button type="submit">Login</button>
    </div>
</form>