<form id='search' action='/submit' method='POST'>
    <input type="text" name="new_restaurant_name" placeholder="Name">
    <input type='text' name="new_restaurant_address" placeholder="Address">
    <input type="text" name="new_restaurant_category" placeholder="Category">
    <button type="submit" name="new_rest">Submit
        <i class="material-icons right">send</i>
    </button>
</form>