{{#each results}}
    <div class="row">
        <div id='card' class="col s12 m5">
            <div class="card-panel grey darken-2">
                <a href='/restaurant/{{id}}' class="white-text">{{name}}</a>
                <p class="white-text">{{address}}</p>
                <p class="white-text">{{category}}</p>
            </div>
        </div>
    </div>
{{/each}}