<div class='row'>
    <form class='col s12' action="/submit" method="POST">
        <div class='row'>
            <div class="input-field col s3">
                <label for="fullname">Full Name</label>
                <input placeholder="Full Name" id="fullname" type="text" name="fullname">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="description">Description</label>
                <textarea id="description" name="description" class="description materialize-textarea"></textarea>
            </div>   
        </div>
        <button class="btn waves-effect waves-light teal darken-2" type="submit" name="action">Submit
        </button>
    </form>
</div>