#foot {
    position: relative;;
    bottom:0;
    width:100%;
  }

#search {
    width: 50%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 24%;
}

#card {
    margin: auto;
}

#stats {
    margin: 10% auto;
    width: 50%;
    border: 2px solid black;
    border-radius: 10px;
}